<div class="easyui-accordion">
    <div title="订单中心">
        <ul>
            <li> <a href="@Url.Action("Details", "User")"><span>修改资料</span></a></li>
            <li> <a href="@Url.Action("ChangePassword", "User")"><span>修改密码</span></a></li>
            <li> <a href="@Url.Action("Logout", "User")"><span>退出登录</span></a></li>
        </ul>
    </div>
    <div title="账户中心">
        <ul>
            <li> <a href="@Url.Action("Details", "User")"><span>修改资料</span></a></li>
            <li> <a href="@Url.Action("ChangePassword", "User")"><span>修改密码</span></a></li>
            <li> <a href="@Url.Action("Logout", "User")"><span>退出登录</span></a></li>
        </ul>
    </div>
    <div title="客户服务">
    </div>
</div>