@model LazyAtHome.Web.WebManage.Models.Product.ProductListModel

<form id="pagerForm" method="post" action="@Url.Action("SearchProduct")">
    <input type="hidden" name="status" value="@Model.SearchInfo.status">
    <input type="hidden" name="keywords" value="@Model.SearchInfo.keywords" />
    <input type="hidden" name="pageNum" value="@Model.SearchInfo.pageNum" />
    <input type="hidden" name="numPerPage" value="@Model.SearchInfo.numPerPage" />
    <input type="hidden" name="orderField" value="@Model.SearchInfo.orderField" />
</form>

<!--报错信息-->
@Html.Raw(ViewBag.Script)

<!--搜索条-->
<div class="pageHeader">
    <form id="searchForm" onsubmit="return navTabSearch(this);" action="@Url.Action("SearchProduct")" method="post" rel="pagerForm">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        运价编号：<input type="text" name="productcode" value="@Model.SearchInfo.ProductCode" maxlength="20" />
                    </td>
                    <td>
                        运价名称：<input type="text" name="productname" value="@Model.SearchInfo.ProductName" maxlength="25" />
                    </td>
                    <td>
                        确定状态：
                        @Html.DropDownList("CommitStatus", new SelectList(new List<SelectListItem> {
                            new SelectListItem { Text="全部", Value="-1"},
                            new SelectListItem { Text = "未上线", Value = "0" },
                            new SelectListItem { Text = "已上线", Value = "1" },
                            new SelectListItem { Text = "已下线", Value = "2" }},
                            "Value", "Text", Model.SearchInfo.CommitStatus))
                    </td>
                    <td>
                        类型
                        @Html.DropDownList("Type", new SelectList(new List<SelectListItem> {
                            new SelectListItem { Text="全部", Value="-1"},
                            new SelectListItem { Text = "普通", Value = "1" },
                            new SelectListItem { Text = "活动", Value = "2" }},
                            "Value", "Text", Model.SearchInfo.Type))
                    </td>
                    <td>创建日期：</td>
                    <td>
                        @{
                            var DateFrom = "";
                            if (Model.SearchInfo.DateFrom != null)
                            {

                                DateFrom = Convert.ToDateTime(Model.SearchInfo.DateFrom).ToString("yyyy-MM-dd");
                            }
                            var DateTo = "";
                            if (Model.SearchInfo.DateTo != null)
                            {

                                DateTo = Convert.ToDateTime(Model.SearchInfo.DateTo).ToString("yyyy-MM-dd");
                            }
                        }

                        <input type="text" id="txtFrom" name="DateFrom" value="@DateFrom" class="date" />
                        至
                        <input type="text" id="txtTo" name="DateTo" value="@DateTo" class="date" />
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    @*<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>*@
                </ul>
            </div>
        </div>
    </form>
</div>


<div class="pageContent">
    <!--功能按键-->
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="@Url.Action("EditProduct")?pid=0" target="navTab" rel="productedit" title="添加运价"><span>添加</span></a></li>
            @*<li><a class="delete" href="@Url.Action("DeleteProduct")?pid={pid}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>*@
            <li><a class="edit" href="@Url.Action("EditProduct")?pid={pid}" target="navTab" rel="productedit" title="编辑运价"><span>编辑</span></a></li>
            <li class="line">line</li>
            @*<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>*@
        </ul>
    </div>

    <!--列表页-->
    <table class="table" width="100%" layouth="137">
        <thead>
            <tr>
                <th width="10" align="center"></th>
                <th width="120" align="center">运价编号</th>
                <th width="80" align="center">运价名称</th>
                <th width="100" align="center">分类-品类</th>
                <th width="100" align="center">所属产品</th>
                <th width="100" align="center">类型</th>
                <th width="100" align="center">确认状态</th>
                <th width="100" align="center">最后更新时间</th>
                <th width="100" align="center">操作</th>

            </tr>
        </thead>
        <tbody>
            @if (@Model.ProductList != null)
            {
                int no = 1;
                foreach (var item in @Model.ProductList)
                {
                    <tr target="pid" rel="@item.ID">
                        <td>@(no++)</td>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@(item.ParentClassName + "-" + item.ClassName)</td>
                        <td>@item.CategoryName</td>
                        <td>@UIHelper.FormatProductType(item.Type)</td>
                        <td>@UIHelper.FormatCommitStatus(item.CommitStatus)</td>
                        <td>@UIHelper.FormatDate(item.Obj_Mdate)</td>
                        <td>
                            @if (item.CommitStatus == 0)
                            {
                                <a href="@Url.Action("", new { id = @item.ID })" class="btnSelect" title="设为上线">设为上线</a>
                            }
                            else if (item.CommitStatus == 1)
                            {
                                <a href="@Url.Action("", new { id = @item.ID })" class="btnDel" title="设为下线">设为下线</a>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!--分页条-->
    <div class="panelBar">
        <script type="text/javascript">
            $(function () {
                $("#@Model.SearchInfo.numPerPageName").attr("value", "@Model.SearchInfo.numPerPage");
            });
        </script>
        <div class="pages">
            <span>显示</span>
            <select class="combox" id="@Model.SearchInfo.numPerPageName" name="@Model.SearchInfo.numPerPageName" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <span>条，共 @Model.SearchInfo.RecCount 条</span>
        </div>

        <div class="pagination" targettype="navTab" totalcount="@Model.SearchInfo.RecCount" numperpage="@Model.SearchInfo.numPerPage" pagenumshown="@Model.SearchInfo.pageNumShown" currentpage="@Model.SearchInfo.pageNum"></div>
    </div>
</div>
