
@{
    //ViewBag.Title = "媒体报道";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--导航-->
@{Html.RenderAction("Nav", "Home");}

<!--内容-->
<div id="content">
    @{Html.RenderPartial("_HomeLeftNav");}
    <div class="my_content right">
        <div class="my_contentTitle">媒体报道</div>
        <div class="media">
            <ul>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
                <li><b></b><a href="@Url.Action("MediaShow", "Home")">给为梦想和家庭打拼的自己多份呵护为什么要洗西服<span>&gt;&gt;</span></a></li>
            </ul>
        </div>
        <div class="page">上一页<span><a href="#" class="this">1</a><a href="#">2</a><a href="#">3</a></span>下一页</div>
    </div>
</div>
