@model LazyAtHome.Web.WashSite.Models.Home.ArtifactViewModel

@{
    //ViewBag.Title = "tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>tests</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ArtifactViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Class)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keyword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keyword)
                @Html.ValidationMessageFor(model => model.Keyword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeValue)
                @Html.ValidationMessageFor(model => model.TypeValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderType)
                @Html.ValidationMessageFor(model => model.OrderType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
