@model LazyAtHome.Web.WebManage.Models.Express.ExpPaymentBillModel


<!--报错信息-->
@Html.Raw(ViewBag.Script)

<div class="pageContent">
    <form method="post" action="@Url.Action("SavePaymentBill", "Express")" id="frmSavePaymentBill" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent" layouth="56">
            <div class="panel">
                <h1>基本信息</h1>
                <div>
                    @Html.HiddenFor(model => model.ExpPaymentBillInfo.ID)
                    <div class="unit">
                        <p>
                            <label>账号：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.OperatorName, new { @readonly = "readonly" })
                        </p>
                        <p>
                            <label>时间范围：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.Period, new { @readonly = "readonly" })
                        </p>
                    </div>

                    <div class="unit">
                        <dl class="nowrap">
                            <dt>备注：</dt>
                            <dd>
                                @Html.TextAreaFor(model => model.ExpPaymentBillInfo.BillRemark, new { cols = "80", rows = "2", @class = "textarea" })
                            </dd>
                        </dl>
                    </div>


                    <div class="unit">
                        <p>
                            <label>结算状态：</label>
                            @Html.DropDownListFor(model => model.ExpPaymentBillInfo.BillStatus, new SelectList(new List<SelectListItem> {
                            new SelectListItem { Text="未结算", Value = "0" },
                            new SelectListItem { Text="部分结算", Value = "1" },
                            new SelectListItem { Text="已结算", Value = "2" }},
                            "Value", "Text", Model.ExpPaymentBillInfo.BillStatus))
                        </p>

                        <p>
                            <label>出账时间：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.Obj_Cdate, new { @readonly = "readonly" })
                        </p>

                    </div>


                    <div class="unit">
                        <p>
                            <label>账单金额：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.Payment, new { @readonly = "readonly" })
                        </p>
                        <p>
                            <label>已结算金额：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.RealPayment, new { @readonly = "readonly" })
                        </p>
                    </div>
                    <div class="unit">
                        <p>
                            <label>本次结算：</label>
                            @Html.TextBoxFor(model => model.ExpPaymentBillInfo.CurrentPayment, new { @class = "number" })
                        </p>

                    </div>


                </div>
            </div>





        </div>

        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="btnSave">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>



