@model LazyAtHome.Web.WebManage.Models.WebAttribute.WebAttributeListModel

<form id="pagerForm" method="post" action="@Url.Action("SearchWebAttribute")">
    <input type="hidden" name="status" value="@Model.SearchInfo.status">
    <input type="hidden" name="keywords" value="@Model.SearchInfo.keywords" />
    <input type="hidden" name="pageNum" value="@Model.SearchInfo.pageNum" />
    <input type="hidden" name="numPerPage" value="@Model.SearchInfo.numPerPage" />
    <input type="hidden" name="orderField" value="@Model.SearchInfo.orderField" />
</form>

<!--报错信息-->
@Html.Raw(ViewBag.Script)

<!--搜索条-->
<div class="pageHeader">
    <form id="searchForm" onsubmit="return navTabSearch(this);" action="@Url.Action("SearchWebAttribute")" method="post" rel="pagerForm">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        页面名称：<input type="text" name="webattributename" value="@Model.SearchInfo.WebAttributeName" maxlength="20" />
                    </td>
                    <td>
                        页面链接：<input type="text" name="webattributepage" value="@Model.SearchInfo.WebAttributePage" maxlength="100" />
                    </td>

                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    @*<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>*@
                </ul>
            </div>
        </div>
    </form>
</div>


<div class="pageContent">
    <!--功能按键-->
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="@Url.Action("EditWebAttribute")?wid=0" target="navTab" rel="webattributeedit" title="添加活动"><span>添加</span></a></li>
            <li><a class="delete" href="@Url.Action("DeleteWebAttribute")?wid={wid}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            <li><a class="edit" href="@Url.Action("EditWebAttribute")?wid={wid}" target="navTab" rel="webattributeedit" title="编辑页面属性"><span>编辑</span></a></li>
            <li class="line">line</li>
            @*<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>*@
        </ul>
    </div>

    <!--列表页-->
    <table class="table" width="100%" layouth="137">
        <thead>
            <tr>
                <th width="10" align="center"></th>
                <th width="100" align="center">页面名称</th>
                <th width="200" align="center">页面链接</th>
                <th width="150" align="center">Title</th>
                <th width="150" align="center">Keywords</th>
                <th width="120" align="center">创建时间</th>


            </tr>
        </thead>
        <tbody>
            @if (@Model.WebAttributeList != null)
            {
                int no = 1;
                foreach (var item in @Model.WebAttributeList)
                {
                    <tr target="wid" rel="@item.ID">
                        <td>@(no++)</td>
                        <td>@item.Name</td>
                        <td>@item.Page</td>
                        <td>@item.Title</td>
                        <td>@item.Keywords</td>
                        <td>@UIHelper.FormatDate(item.Obj_Cdate)</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!--分页条-->
    <div class="panelBar">
        <script type="text/javascript">
            $(function () {
                $("#@Model.SearchInfo.numPerPageName").attr("value", "@Model.SearchInfo.numPerPage");
            });
        </script>
        <div class="pages">
            <span>显示</span>
            <select class="combox" id="@Model.SearchInfo.numPerPageName" name="@Model.SearchInfo.numPerPageName" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <span>条，共 @Model.SearchInfo.RecCount 条</span>
        </div>

        <div class="pagination" targettype="navTab" totalcount="@Model.SearchInfo.RecCount" numperpage="@Model.SearchInfo.numPerPage" pagenumshown="@Model.SearchInfo.pageNumShown" currentpage="@Model.SearchInfo.pageNum"></div>
    </div>
</div>


